<h1>Vos commandes  </h1>
<ul>
  <li>Status de la commande: <%= @participation.status %></li>
  <li>Activité commandée: <%= @participation.event_ref %></li>
  <li>Montant: <%= @participation.amount_cents %>euros </li>
<ul>
