 <body style="-webkit-text-size-adjust: none; box-sizing: border-box; color: #74787E; font-family: Helvetica, Arial, sans-serif; height: 100%; line-height: 1.4; margin: 0; width: 100% !important;" bgcolor="#F2F4F6"><style type="text/css">
body {
width: 100% !important; height: 100%; margin: 0; line-height: 1.4; background-color: #F2F4F6; color: #74787E; -webkit-text-size-adjust: none;
}
@media only screen and (max-width: 600px) {
  .email-body_inner {
    width: 100% !important;
  }
  .email-footer {
    width: 100% !important;
  }
}
@media only screen and (max-width: 500px) {
  .button {
    width: 100% !important;
  }
}
</style>

  <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" style="box-sizing: border-box; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0; padding: 0; width: 100%;" bgcolor="#b3cbd8">
    <tr>
      <td align="center" style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; word-break: break-word;">
        <table class="email-content" width="100%" cellpadding="0" cellspacing="0" style="box-sizing: border-box; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0; padding: 0; width: 100%;">
          <tr>
            <td class="email-masthead" style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; padding: 25px 0; word-break: break-word;" align="center">
              <a href="https://www.trust-in.fr" class="email-masthead_name" style="box-sizing: border-box; color: #ffffff; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 24px; font-weight: bold; text-decoration: none; text-shadow: 0 1px 0 white;">TRUST-IN
              </a>
      </td>
    </tr>

          <tr>
            <td class="email-body" width="100%" cellpadding="0" cellspacing="0" style="-premailer-cellpadding: 0; -premailer-cellspacing: 0; border-bottom-color: #EDEFF2; border-bottom-style: solid; border-bottom-width: 1px; border-top-color: #EDEFF2; border-top-style: solid; border-top-width: 1px; box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0; width: 100%; word-break: break-word;" bgcolor="#FFFFFF">
              <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0" style="box-sizing: border-box; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0 auto; padding: 0; width: 570px;" bgcolor="#FFFFFF">

                <tr>
                  <td class="content-cell" style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; padding: 35px; word-break: break-word;">
                    <h1 style="box-sizing: border-box; color: #2F3133; font-family: Helvetica, Arial, sans-serif; font-size: 19px; margin-top: 0;" align="left">Bonjour <%= @user.first_name %></h1> <br>
                    <p style="box-sizing: border-box; color: #74787E; font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.5em; margin-top: 0;" align="left">Vous avez demandé à changer votre mot de passe. Voici le lien vous permettant de modifier.</p>

                    <p ><%= link_to 'Change my password', edit_password_url(@user, reset_password_token: @token) %></p> <br> <br>


              <p style="box-sizing: border-box; color: #74787E; font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.5em; margin-top: 0;" align="left">  Si vous n'avez pas fait cette demande, veuillez ignorer cet email</p>
              <p style="box-sizing: border-box; color: #74787E; font-family: Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.5em; margin-top: 0;" align="left"> Votre mot de passe restera inchangé tant que vous n'en n'avez pas créé un nouveau.</p>

                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; word-break: break-word;">
              <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0" style="box-sizing: border-box; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0 auto; padding: 0; text-align: center; width: 570px;">
                <tr>
                  <td class="content-cell" align="center" style="box-sizing: border-box; font-family: Helvetica, Arial, sans-serif; padding: 35px; word-break: break-word;">
                    <p class="sub align-center" style="box-sizing: border-box; color: white; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.5em; margin-top: 0;" align="center">© 2018 Trust-In @Boulogne</p>
                    <p class="sub align-center" style="box-sizing: border-box; color: white; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.5em; margin-top: 0;" align="center">
                      [Trust-in]
                      <br />85B rue de Billancourt.
                      <br />92100 Boulogne
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>




