.content h2 {
  font-family: lato;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}


.edit-profile {
  background: white;
  padding: 14px;
  margin-top: 15px;


h2 {
  font-family: lato;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: lato;
  font-size: 15px;
  color:white;

  padding-top: 5px;
      padding-right: 5px;
      padding-left: 5px;
      background: #26acdd;
      border-radius: 5px
}
label {

    font-family: lato;
    font-size: 16px;
}


.error {

background:red;

}

}

