
.network {
  background:rgb(255, 255, 255);


}
  .feature {

      margin-top:20px;
      justify-content: center;
      box-shadow: 0.5px 0.5px 0px grey;




    }

 .comment h2{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 12px;
    color: rgb(30, 84, 92);

 }

  .background {
      width: 160px;
      height: 180px;
      display: block;
      margin-right: auto;
      margin-left: auto;



  }

.text-network {
  width: 297px;
  display: block;
  margin-right: auto;
  margin-left: auto;

  h1 {
  font-size:28px;
  font-weight: bold;

  }

p {
  font-size:18px;

  padding-bottom: 5px;
  font-family: lato;
}

}

.recommandez h1 {
 color :rgb(76, 100, 166)

}


.partagez h1 {
  color :rgb(76, 100, 166)


}

.simplifiez h1 {

color :rgb(76, 100, 166)


}


.next {

  text-align: center;
  font-size: 20px;
  margin: 20px;
  height: 30px;



}

.picto-firstnetwork {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
