.participation-text {
  margin-bottom: 78px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;

  h1 {

    font-family: lato;
    font-weight: bold;
    font-size: 26px;
    color: #120303;
  }



  p {


    font-size: 18px;
    color: #120303;
    font-weight: bold;
  }
}


