.title-search {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;

  h1, h2 {
  text-align: center;
  font-family: lato;
  font-weight: bold;
  font-size: 26px;
  color: #1e545c;


  }

}

.all-search-prestations {

  margin-left: 20px;
  margin-right: 10px;
}

