<div class="col-xs-12 col-md-6 col-md-offset-3">
  <div class="booking-form">
    <%= simple_form_for [@prestation, @booking] do |f| %>
      <%= f.input :description, label: "Décrivez votre demande", placeholder: 'Précisez la date, le lieu et les horaires souhaités' %>
      <%= f.input :location, label: "Lieu de la prestation",placeholder: 'Boulogne' %>
      <%= f.button :submit, 'Envoyer', class: "btn-plusone_regular" %>
    <% end %>
  </div>
</div>
