<div class="footer">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="footer-adress">
        <p> Experiment'Up</p>
        <p> 85B rue de Billancourt</p>
        <p> 92100 Boulogne</p>
        <p> email : </p>
        <p> phone </p>
      </div>
      <div class="footer-links">
        <a href="#"><i class="fa fa-github"></i></a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="footer-infos">
       <a href="#"><p>About</p></a>
       <a href="#"><p>Conditions générales de vente</p></a>
       <a href="#"><p>Contact</p></a>
       <div class="footer-reseauxsociaux">
          <span> <a href="#"><i class="fab fa-instagram"></i></a> </span>
          <span> <a href="#"><i class="fab fa-facebook"></i></a> </span>
       </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="footer-newsletter">
        <p>newletter a insérer</p>
      </div>
    </div>
   ​
  </div>
</div>

