




<%= simple_form_for [@booking, @answer] do |f| %>
<div class="form-group form-post">
  <%= f.input :content, label:"Répondre" %>
  <%= f.submit "Répondre", class: "btn-new-prestation" %>
<% end %>

</div>
