
<div class ="about-body">
<h1> Pourquoi EXPERIMENT'UP ?</h1>

<h2> Proposer des expériences originales à côté de chez vous </h2>
<p> Tout simplement pour proposer plus que des activités, des expériences à vivre en famille, entre amis ou en solo </p>

<h2> Promouvoir les acteurs locaux avec un vrai savoir-faire </h2>
<p> Mettre en avant les savoir-faire d'artistes du quartier, d'artisans, de commerçants du coin. Une occasion de partager un moment, une expérience autrement </p>

<h2> Faciliter l'accès à des activités de qualité </h2>
<p> Profiter au mieux de de son temps libre , avoir un panaché d'activités conviviales à disposition près de chez soi. </p>

</div>
