<div class='container'>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="etre-prestataire">
      <h2>  Bienvenue dans la communauté Trust-in !</h2>
      <p> Nous sommes ravis que vous nous ayez rejoint</p>
      </div>
    </div>
  </div>




  <div class="col-sm-offset-2 col-sm-4" style="visibility: visible; animation-delay: 0.2s;">
      <div class="feature_home" style="min-height: 346px;">
         <i class="fas fa-hands-helping"></i>
          <h3>Vous recherchez des activités et/ou services ?</h3>
          <p> Recherche d'activités originales ou de services pour vous simplifier et égayer votre quotidien </p>

          <%= link_to edit2_profile_path(current_user) do  %>
          <p class="btn btn_1 outline"> C'est par ici ! </p>
          <% end %>

      </div>
  </div>
   <div class="col-sm-4 " style="visibility: visible; animation-delay: 0.4s;">
          <div class="feature_home" style="min-height: 346px;">
            <i class="fas fa-flag"></i>
              <h3>Vous voulez proposer vos services ?</h3>
              <p> Rendre des services auprès des membres de la plateforme Trust-in@Boulogne et créer votre page profil</p>
             <%= link_to edit_profile_path(current_user) do  %>
             <p class="btn btn_1 outline"> C'est par là ! </p>
             <% end %>
          </div>
   </div>


</div>
