<div class="container">

  <div class="next">
  <%= link_to prestations_path do %>
  <i class="fas fa-arrow-circle-right"> OK, suivant </i>
  <% end %>
  </div>

  <div class="comment">
      <h2> Comment ca marche ? </h2>
  </div>

  <div class="network">
    <div class="feature">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="background">
            <%= image_tag 'recomand.jpg', height:150, width:150 %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class = "text-network recommandez">
             <h1>Recommandez </h1>
             <p class="regular">Recommandez vos prestataires de confiance déjà inscrits ou invitez-les à s'inscrire.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="feature">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="background">
            <%= image_tag 'network.jpg', height:150, width:150 %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class = "text-network partagez ">
             <h1>Partagez </h1>
             <p class="regular">Invitez votre réseau à partager vos recommandations respectives sur des prestataires de confiance (babysitting, soutien scolaire, petits travaux ..) </p>
          </div>
        </div>
      </div>
    </div>


    <div class="feature">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="background">
            <%= image_tag 'thumbnetwork.jpg', height:190, width:190 %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class = "text-network simplifiez">
             <h1> Bénéficiez des recommandations de votre réseau</h1>
             <p class="regular">Bénéficiez à votre tour de toutes les recommandations de votre réseau avec informations détaillées </p>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>


