<div class='container'>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="temoignage-content">
      <h2>  Ils ont testé l'initiation au graffiti</h2>
      <p> Nous sommes ravis que vous nous ayez rejoint</p>
      </div>
    </div>
  </div>
