<h1>SchoolChildren#index</h1>
<p>Find me in app/views/school_children/index.html.erb</p>
<%@school_children.each do |school| %>
<ul>
  <li> <%= school.name %> <%= school.CP %> <%= school.locality %>  </li>
</ul>

<% end %>
