
.filtres {
  margin-bottom: 24px;
  h1, h2 {
    text-align: center;
    font-family:lato;
    font-weight: bold;
    font-size: 23px;
    color: rgb(30, 84, 92);
  }

  p {
    text-align: center;
    font-family:lato;
    font-weight: bold;
    font-size: 16px;
    color: #777777;

  }
}


.filtres-categorie {
  display: flex;
 flex-wrap: wrap;
 justify-content: center;


}

.cat {
  flex: 0,0,40%;
  margin: 5px;
  justify-content: space-around;


}

.cat:hover {
  opacity: 0.6;
}

.image-cat {

 height: 130px;
 width: 130px;

}
