.footer {

  background: black;

  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: white;
  line-height: 1;
  padding-top: 20px;
  margin-top: 20px;
}
.footer-links {

  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-adress {

p {
  color:white;
  font-size: 14px;

}
}

.footer-infos {

a {
  color:white;
  font-size: 15px;

}
}

.footer-reseauxsociaux {
  background: black;
  margin-top: 20px;
a {
  color:white;
  font-size: 25px;


}
span {
  margin-right: 15px;
}
}

.footer-newsletter {
    background: black;
    margin-top: 15px;

  p {
    color:white;
    font-size: 17px;


  }
}
