
.img-circle {
  border-radius: 50%;
}

.star0 {
  height: 50px;
}

.avatar_small {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: block;
      margin-left: auto;
      margin-right: auto;
}
